body {
	font-family: 'Roboto', sans-serif;
	background: #ccc;
}


/* ---------------------------------------------------------------------------------------------------------------- */
.section	{
	text-align: center;/* Убрать */
} 



.nav-logo {
	margin: 10px auto ;
	padding: 0;
}

.navbar-toggler-main {
	border: none;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 2em;
  height: 2em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#cc0605' stroke-width='2.5' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}








/* ---------------------------------------------------------------------------------------------------------------- */
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}